<!-- inicio  conteudo do site-->
<div class="container-fluid">
    <div class="row">

        <div class="col-sm">

        </div>

        <div class="col-md-8" id="main">

            <div class="row justify-content-center" style="margin-top:10px;" *ngIf="!userResetPass.userId">


                <div class="border border-success rounded" style="width:400px;padding: 10px; background-color:white;">

                    <div class="col" style="margin:15px 0;">
                        <h1>Redefinir de senha</h1>

                        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

                            <div class="form-row">

                                <div class="form-group col-md">
                                    <label for="inputEmail">E-mail</label>
                                    <input type="text" formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': f.email.errors }">
                                </div>

                            </div>

                            <button type="submit" class="btn btn-success form-control">
                                Verificar
                            </button>

                        </form>
                    </div>

                </div>

            </div>

            <div class="row justify-content-center" style="margin-top:10px;" *ngIf="userResetPass.userId">


                <div class="border border-success rounded" style="width:400px;padding: 10px; background-color:white;">

                    <div class="col" style="margin:15px 0;">
                        <h1>Redefinir de senha</h1>

                        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

                            <div class="form-row">

                                <div class="form-group col-md">
                                    <label for="inputPassword">Nova Senha (minimo 8 caracteres)</label>
                                    <input type="password" formControlName="password" class="form-control">
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md">
                                    <label for="inputVerify">Repita a senha</label>
                                    <input type="password" formControlName="verifyPass" class="form-control">
                                </div>

                            </div>

                            <button type="submit" [disabled]="!resetForm.valid" class="btn btn-success form-control">
                                Salvar
                            </button>

                        </form>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-sm-2"></div>

    </div>

</div>
<!-- fim conteúdo do site -->


<!-- fim container -->