<!-- <hr> -->

<!-- inicio  conteudo do site-->
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2">
            <app-side-menu></app-side-menu>
        </div>

        <div class="col-md-8" id="main">

            <div class="row" style="margin-top:10px;margin-bottom:40px;">

                <div class="col">

                    <div class="row justify-content-center">

                        <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">

                                <div class="form-group col-md-6">

                                    <label class="sr-only" for="fromDate">Inicio</label>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">De</div>
                                        </div>
                                        <input type="date" class="form-control" name="fromDate" id="fromDate"
                                            placeholder="Username" formControlName="fromDate" required>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">

                                    <label class="sr-only" for="toDate">Fim</label>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Até</div>
                                        </div>
                                        <input type="date" class="form-control" name="toDate" id="toDate"
                                            placeholder="Username" formControlName="toDate" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">

                                    <div class="row align-items-center justify-content-around">

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="receivedCheckbox"
                                                formControlName="received" (change)="reloadCategories()">
                                            <label class="custom-control-label" for="receivedCheckbox">Recebido</label>
                                        </div>

                                    </div>

                                </div>
                                <div class="form-group col-6">

                                    <div class="row align-items-center justify-content-around">

                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="paidCHeckbox"
                                                formControlName="paid" (change)="reloadCategories()">
                                            <label class="custom-control-label" for="paidCHeckbox">Pago</label>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">

                                    <label for="inputState">Categorias</label>
                                    <select id="inputState" class="form-control" name="category_id"
                                        formControlName="idCategory">
                                        <option [ngValue]="0">Todas</option>
                                        <option *ngFor="let item of categories.data" [ngValue]="item.id">
                                            <span *ngIf="item.applicable === 'in'">Recebido</span>
                                            <span *ngIf="item.applicable === 'out'">Pago</span>
                                            {{' : '+ item.category}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <div *ngIf="this.f.paid.value">
                                        <label for="inputState">Formas de pgto.</label>
                                        <select id="selectPayMethod" name="payMethod" class="form-control"
                                            formControlName="idPayMethod">
                                            <option [ngValue]="0">Todas</option>
                                            <option *ngFor="let obj of payMethods.data" [ngValue]="obj.id">
                                                {{obj.pay_method}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="form-row">

                                <div class="form-group col-md">

                                    <div class="row align-items-center justify-content-center">

                                    </div>

                                </div>
                            </div> -->
                            <div class="form-row">

                                <div class="form-group col-md">
                                    <div class="row align-items-center justify-content-center">
                                        <button type="submit" [disabled]="!filterForm.valid" class="btn btn-success"
                                            style="padding: 0.5rem 2.5rem;">
                                            <!-- Filtrar  -->
                                            <i class="material-icons v-middle">
                                                search
                                            </i>
                                        </button>

                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col">

                    <div *ngIf="launchFilter.length == 0">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Veja bem!</strong> Não encontramos resultados para esta pesquisa.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="margin-bottom: 80px;">

                        <div class="col-sm" *ngIf="launchFilter.length > 0">
                            <app-table [showData]="launchFilter" [origin]="origin"></app-table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-2"></div>

    </div>
</div>

<!-- fim conteúdo do site -->

<!-- fim container -->