<nav class="navbar navbar-expand-sm navbar-light bg-success menu-box">

    <button class="navbar-toggler text-white border" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white" href="#">Fsys</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="" style="text-align: center;">
                    Início
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/about" style="text-align: center;">
                    Sobre
                </a>
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-sm-0 menu-right">
            <li class="nav-item">
                <a class="nav-link text-white border rounded" routerLink="/login" style="text-align: center;">
                    Acesso
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white border rounded" routerLink="/register" style="text-align: center;">
                    Cadastro
                </a>
            </li>
        </ul>
    </div>

</nav>