<!-- <hr> -->

<!-- inicio  conteudo do site-->
<!-- <div style="margin-bottom: 100px;"> -->

<div class="row justify-content-center">
    <h1 class="titulo-section1">Porque utilizar nosso serviço?</h1>
</div>

<div class="row justify-content-center" style="margin-bottom: 50px;">
    <div class="col-1-sm"></div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fácil de usar</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    O Fsys foi desenvolvido para melhorar sua gestão financeira de maneira simples e completa.</h6>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tudo ao seu alcance</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Com todas as suas contas juntas, seu planejamento financeiro fica muito mais prático e eficiente.
                </h6>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Customizável</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Nos preocupamos com o que você gosta. Por isso, criamos temas para você deixar o Fsys com a sua
                    cara.</h6>
            </div>
        </div>
    </div>
    <div class="col-1-sm"></div>
</div>

<!-- <div class="row" style="margin-bottom: 50px;">
    

        <div class="col-1-sm"></div>

        <div class="col-10-md card-box">


        </div>

        <div class="col-1-sm"></div>

    </div> -->

<div class="row bg-success justify-content-center" style="padding-top:100px;padding-bottom: 10px;">
    <div class="col-lg">
        <div class="row text-white justify-content-center" style="width: 280px;margin: 0 auto;">
            <!-- <div class="text-white" style="width: 30%;"> -->


            <h2>Melhore sua vida financeira</h2>
            <p>Seu planejamento financeiro começa com o controle de seus gastos pessoais.<br>
                Consulte seus gastos e crie orçamentos.<br>
                Acompanhe o balanço mensal de suas despesas e receitas e cadastre suas compras parceladas.<br>
                Nada melhor que um gerenciador financeiro simples e completo para te ajudar
                a pagar as contas em dia e começar a economizar.</p>

            <!-- </div> -->
        </div>
    </div>
    <div class="col-lg">
        <div class="row justify-content-center" style="margin-top: 50px;">
            <!-- <section class="section2"> -->

            <div class="teste">
                <img src="assets/img/recorte_1.png" alt="dashboard" class="photo-1">
                <img src="assets/img/recorte_2.png" alt="launch-out" class="photo-2">
                <img src="assets/img/recorte_3.png" alt="launch-in" class="photo-3">
                <!-- <p>Aqui pensei em colocar uma img, algo relacionado ao app em funcionamento
                        Ou alguma outra imagem.</p> -->
            </div>
            <!-- </section>  -->
        </div>
    </div>
</div>


<div class="row">
    <div class="col-1-sm"></div>

    <div class="col-10-md card-box">

        <div class="row justify-content-center">
            <h2 class="title-section3">Funcionalidades</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="small material-icons">assignment</i>Gráficos e Relatórios</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Despesas dia a dia, receitas e despesas por conta e categoria, e mais!
                            Tudo o que você precisa para entender e controlar seu dinheiro.</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card card3">
                    <div class="card-body">
                        <h5 class="card-title1"><i class="small material-icons">credit_card</i> Controle cartões de
                            crédito</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Você pode controlar diversos cartões de crédito,
                            anotando tudo que você gasta e também realizando os pagamentos de faturas.</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="small material-icons">brush</i>Customizável</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Nos preocupamos com o que você gosta. Por isso, criamos temas para você deixar o Fsys com a
                            sua cara.</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div> -->
        <!-- &nbsp; -->
        <!-- </div> -->

        <div class="row justify-content-center">

            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fácil de usar</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            O Fsys foi desenvolvido para melhorar sua gestão financeira de maneira simples e completa.
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tudo ao seu alcance</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Com todas as suas contas juntas, seu planejamento financeiro fica muito mais prático e
                            eficiente.</h6>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Customizável</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Nos preocupamos com o que você gosta. Por isso, criamos temas para você deixar o Fsys com a
                            sua cara.</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-1-sm"></div>
</div>


<!-- </div> -->


<!-- fim conteúdo do site -->