<!-- inicio  conteudo do site-->
<div class="container-fluid">
    <div class="row">

        <div class="col-sm">

        </div>

        <div class="col-md-8" id="main">

            <div class="row justify-content-center" style="margin-top:50px;">


                <div class="border border-success rounded-bottom"
                    style="width:400px;padding: 10px; background-color:white;">

                    <div class="col" style="margin:15px 0;">

                        <!-- <div>                                

                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Opa!</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                        </div> -->


                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                            <div class="form-row">

                                <div class="form-group col-md">
                                    <label for="inputEmail">E-mail</label>
                                    <!-- <input [(ngModel)]="user.email" name="email" class="form-control"
                                        placeholder="seu@email.com" required> -->
                                        <input type="text" formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && lf.email.errors }">
                                    <div class="valid-feedback">
                                        Parece bom!
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md">
                                    <label for="inputPassword">Senha</label>
                                    <!-- <input [(ngModel)]="user.password" name="password" type="password"
                                        class="form-control" placeholder="********" required> -->
                                        <input type="password" formControlName="password" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && lf.password.errors }">
                                </div>

                            </div>

                            <button type="submit" class="btn btn-success form-control">
                                Entrar
                            </button>

                            <div class="form-row">

                                <div class="form-group col-md">
                                    <a routerLink="/forgot" class="forgot-password">esqueceu sua senha?</a>
                                </div>

                            </div>

                        </form>
                    </div>

                </div>

            </div>


            <div class="row justify-content-center" style="margin-top:10px;">


                <div class="border border-success rounded-bottom"
                    style="width:400px;padding: 10px; background-color:white;">

                    <div class="col" style="margin:15px 0;">


                        <p>Novo por aqui? <a routerLink="/register">Cadastre-se é gratuito!</a></p>


                    </div>

                </div>

            </div>

        </div>

        <div class="col-sm-2"></div>

    </div>

</div>
<!-- fim conteúdo do site -->


<!-- fim container -->