<!-- <hr> -->

<!-- inicio  conteudo do site-->
<div class="container-fluid">
    <div class="row">

        <div class="col-sm">
            <app-side-menu></app-side-menu>
        </div>

        <div class="col-md-8" id="main">
            <div class="row justify-content-center" style="margin-top:50px;margin-bottom: 80px;">

                <div class="border-top rounded-bottom" style="width:500px;padding: 10px; background-color:white;">
                    <h1>Faça tudo do seu jeito!</h1>
                    <hr>
                    <span>
                        Nesta área você encontrará suas opções de de customização.
                        <br /><br />
                        São opções como:
                        <ul>
                            <li>Meus dados</li>
                            <li>Categorias</li>
                            <li>entre outras...</li>
                        </ul>
                        Estas opções te darão mais controle sobre este app para uzar do seu jeito!
                    </span>
                </div>

            </div>

        </div>

        <div class="col-sm-2"></div>

    </div>
</div>