<!-- <hr> -->

<!-- inicio  conteudo do site-->
<div class="container-fluid" style="margin-bottom: 100px;">
    <div class="row">

        <div class="col-sm-2">
            <app-side-menu></app-side-menu>
        </div>

        <div class="col-md-8" id="main">
            <div class="row justify-content-center">
                <!-- <h1>Main Area</h1> -->
            </div>

            <div class="row justify-content-center" style="margin-top: 50px;">
                <div style="margin-right:45px;">
                    <button (click)="decreaseYear()" class="btn btn-sm">
                        <h2>
                            <i class="material-icons">
                                arrow_back_ios
                            </i>
                        </h2>
                    </button>
                </div>


                <h2>{{ year }}</h2>

                <div style="margin-left:50px;">

                    <button (click)="increaseYear()" class="btn btn-sm">
                        <h2>
                            <i class="material-icons">
                                arrow_forward_ios
                            </i>
                        </h2>
                    </button>
                </div>
            </div>


            <div class="row justify-content-center" style="margin-top:50px;">

                <div class="card-deck">

                    <app-month-card [monthId]="january" [monthReceived]="januaryReceived" [monthPaid]="januaryPaid"
                        [selectedYear]="year"></app-month-card>

                    <app-month-card [monthId]="february" [monthReceived]="februaryReceived" [monthPaid]="februaryPaid"
                        [selectedYear]="year"></app-month-card>

                    <app-month-card [monthId]="march" [monthReceived]="marchReceived" [monthPaid]="marchPaid"
                        [selectedYear]="year"></app-month-card>

                </div>

            </div>
            <div class="row justify-content-center" style="margin-top:50px;">

                <div class="card-deck">

                    <app-month-card [monthId]="april" [monthReceived]="aprilReceived" [monthPaid]="aprilPaid"
                        [selectedYear]="year"></app-month-card>

                    <app-month-card [monthId]="may" [monthReceived]="mayReceived" [monthPaid]="mayPaid"
                        [selectedYear]="year"></app-month-card>

                    <app-month-card [monthId]="june" [monthReceived]="juneReceived" [monthPaid]="junePaid"
                        [selectedYear]="year"></app-month-card>

                </div>

            </div>
            <div class="row justify-content-center" style="margin-top:50px;">

                <div class="card-deck">

                    <app-month-card [monthId]="july" [monthReceived]="julyReceived" [monthPaid]="julyPaid"
                        [selectedYear]="year"></app-month-card>

                    <app-month-card [monthId]="august" [monthReceived]="augustReceived" [monthPaid]="augustPaid"
                        [selectedYear]="year"></app-month-card>

                    <app-month-card [monthId]="september" [monthReceived]="septemberReceived"
                        [monthPaid]="septemberPaid" [selectedYear]="year"></app-month-card>

                </div>

            </div>
            <div class="row justify-content-center" style="margin-top:50px;margin-bottom: 30px;">

                <div class="card-deck">

                    <app-month-card [monthId]="october" [monthReceived]="octoberReceived"
                        [monthPaid]="octoberPaid" [selectedYear]="year"></app-month-card>

                    <app-month-card [monthId]="november" [monthReceived]="novemberReceived"
                        [monthPaid]="novemberPaid" [selectedYear]="year"></app-month-card>

                    <app-month-card [monthId]="december" [monthReceived]="decemberReceived"
                        [monthPaid]="decemberPaid" [selectedYear]="year"></app-month-card>

                </div>

            </div>

        </div>

        <div class="col-sm-2"></div>

    </div>
</div>

<!-- fim conteúdo do site -->


<!-- fim container -->