<mat-toolbar class="header mat-elevation-z4">  
    <nav>
        <!-- <span>
            <a routerLink="/">
                <img class="logo" src="assets/img/logo.png" alt="logo">
            </a>
        </span> -->
        <span class="title-group">
            <a routerLink="/">
                Início
            </a>
        </span>
        <span class="title-group">
            <a routerLink="/about">
                Sobre
            </a>
        </span>
    </nav>
    <nav class="menu-right">
        <span class="title-group">
            <a routerLink="/login">
                Sign In
            </a>
        </span>
        <span class="title-group">
            <a routerLink="/register">
                Sign Up
            </a>
        </span>
    </nav>
</mat-toolbar>
