.header {
    display: flex;
    justify-content: space-between;
    background: #179e13;
}
.header a {
    display: inline-block;
    text-decoration: none;
    color: #fcfcfc;
}
.menu-right a {
    border: solid 1px;
    padding: 10px;
    border-radius: 5px;
}
.menu-right a:hover {
    border-color: #dcdcdc;
    background-color: #168f12;
}
.header a:hover {
    color:#dcdcdc;
}
.header a .logo {
    max-height: 32px;
}

.header .title-group {
    padding-left: 15px;
}

.header .title-group i {
    padding-right: 5px;
}

